<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">
    <property name="LOG_HOME" value="/var/log/iot_core/nip/adapter/mqtt"/>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${HOSTNAME} %d{yyyy-MM-dd HH:mm:ss.SSS} %-5level [%thread] %logger{30} [%method]:%line - %msg%n</pattern>
        </encoder>
    </appender>
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_HOME}/iot_core_nip_adapter_mqtt.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_HOME}/iot_core_nip_adapter_mqtt.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
            <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${HOSTNAME} %d{yyyy-MM-dd HH:mm:ss.SSS} %-5level [%thread] %logger{30} [%method]:%line - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="com.hpe.iot.core.nip.adapter.mqtt" level="DEBUG">
		<appender-ref ref="FILE" />
	</logger>

    <root level="INFO">
        <!--<appender-ref ref="STDOUT"/>-->
        <appender-ref ref="FILE"/>
    </root>
</configuration>